body {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(221, 221, 221);
  font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
p,
div,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

input {
  background-color: rgba(166, 194, 184, 0.4);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgb(17, 53, 33);
  margin: 10px;
  height: 25px;
}

::placeholder {
 color: rgb(7, 7, 7);
 padding: 10px 20px;
}

button {
  width: 50px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid black;
}

#header {
  margin: 30px 0;
  text-align: center;
}

#add-btn {
  margin-left: auto;
  height: 25px;
  width: 55px;
  color: #fff;
}

.f-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.f-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#board {
  margin: 30px auto;
  padding: 40px;
  justify-content: space-evenly;
  align-items: center;
  background: url('./winner.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#left {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#allScores {
  width: 350px;;
  border-radius: 5px;
  margin-top: 20px;
}

#scores-list {
  width: 100%;
}

#scores-list li {
  padding-left: 20px;
}

#scores-list > li:first-child {
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#scores-list > li:last-child {
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.row-odd {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  background-color: rgb(255, 255, 255);
  padding: 3px;
}

.row-even {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  height: 20px;
  background-color: rgb(209, 209, 209);
}

#left-col {
  margin-right: 50px;
  padding: 50px;
  background-color:rgb(146, 172, 163);
}

#right-col {
  background-color: rgb(8, 63, 63);
  min-height: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  color: #fff;
  padding: 30px;
}

#refresh {
  align-items: center;
  justify-content: center;
  box-shadow: 3px 8px 16px rgb(8, 63, 63);
  height: 30px;
  border: none;
  width: 100%;
  border-radius: 3px;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 20px;
}
